.toDoList{
    display: flex;
    justify-content: center;
}
table {
    padding:20px;
    margin-left: 20px;
    max-width: 800px;
  }

  tr:hover {background-color: #782088;}
  table-layout:fixed
  table{
    margin-top: 0px !important;
  }
  *{
    color: #000;
  }
  button{
    display: block;
  }