<nav>
  <mat-toolbar class="navbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/" title="Inicio">
      <img src="/assets/img/logo.svg" class="logo" alt="logo">
    </a>
    <span class="example-spacer"></span>

    <button mat-button [matMenuTriggerFor]="menuBooks">Libros</button>
    <mat-menu #menuBooks="matMenu">
      <button mat-menu-item routerLink="/books">Listado libros</button>
      <button mat-menu-item routerLink="/books/new" *ngIf="authService.isAdmin()">Crear nuevo libro</button>
      
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menuAuthors">Autores</button>
    <mat-menu #menuAuthors="matMenu">
      <button mat-menu-item>Listado autores</button>
      <button mat-menu-item routerLink="/authors/new" *ngIf="authService.isAdmin()">Crear nuevo autor</button>
      
    </mat-menu>
    
    <button mat-button *ngIf="!authService.isLoggedIn()" routerLink="/auth/login">
      <mat-icon>login</mat-icon>
      Iniciar sesión
    </button>

    
      <button mat-button *ngIf="authService.isAdmin()" routerLink="/auth/register">
        
        Eres Administrador
  
      </button>
      <button mat-button *ngIf="!authService.isLoggedIn()" routerLink="/auth/register">Crear cuenta</button>
    <button mat-button *ngIf="authService.isLoggedIn()" (click)="authService.logout()">Cerrar Sesion</button>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</nav>
