
<div *ngIf="task" class="task">
  
  <mat-card>
    <mat-card-header>
      <mat-card-title>Title</mat-card-title> 
      <mat-card-subtitle>{{ task.title }}</mat-card-subtitle> 
      <mat-card-title>Description</mat-card-title> 
      <mat-card-subtitle>{{ task.description }} </mat-card-subtitle> 
      <mat-card-title>Horas</mat-card-title> 
      <mat-card-subtitle>{{ task.hours }} horas</mat-card-subtitle> 
      <button mat-button color="primary"  [routerLink]="['edit/',task.id,]" >Editar</button> 
      
    </mat-card-header>
  
    <mat-card-actions>
      
      
    </mat-card-actions>
    <button routerLink="['/tasks']">Lista tareas</button>
  </mat-card>
</div>

