<mat-card class="example-card" *ngIf="task">
  <mat-card-header>
    <mat-card-subtitle> Detalle de la tarea </mat-card-subtitle>
    <mat-card-title> {{task.title}} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="task.description"> {{task.description}} </p>
    <p> 
      <mat-icon matPrefix>  schedule</mat-icon>  
      {{task.hours}} </p>
    
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    
    <button color="accent" mat-stroked-button [routerLink]="['/tasks']" >VOLVER A LA LISTA</button>
  </mat-card-actions>
</mat-card>

