<div class="task-form">
  <h2>{{ task.id === 0 ? 'Crear Tarea' : 'Editar Tarea' }}</h2>
  <form (submit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Título"  name="title" required>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Descripción"  name="description" required></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Horas" name="hours" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      {{ task.id === 0 ? 'Crear' : 'Guardar' }}
    </button>
  </form>
</div>
<button routerLink="/tasks">lista de tareas</button>
